.bg-teal {
    background: #004555!important;
}

.bg-grayblue {
    background: #94a7f2!important;
}

.text-thistle {
    color: #c3beee!important;
}

.text-dark-blue {
    color: #052f65!important;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}