.bg-pink {
    background: #FECDF9!important;
}

.text-mauve{
    color: #493146!important;
}

.bg-black {
    background: #000000!important;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}