<nav class="navbar navbar-expand bg-grayblue">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <div class="navbar-nav text-dark-blue roboto-bold">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
                <div class="btn-group">
                    <button type="button" class="btn nav-link" onclick="window.location.href='/projects/'">Projects</button>
                    <button type="button" class="btn nav-link dropdown-toggle dropdown-toggle-split"
                            href="{% url 'projects' %}" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu bg-grayblue">
                        {% for project in projects %}
                            <li><a class="dropdown-item" href="{% url 'project' project.id %}">{{ project.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <a class="nav-link icon-link" target="_blank" rel="norefferer" href="https://github.com/PapaZ810/Portfolio">
                    Source
                    <i class="bi bi-box-arrow-up-right" style="width: 1em"></i>
                </a>
            </div>
        </div>
    </div>
</nav>