{% extends 'page/main.html' %}
{% load static %}
{% block title %}Projects{% endblock %}
{% block body %}
    <div class="container ms-5">
        <h1 class="text-thistle my-3">Previous Projects</h1>
        <div class="d-inline-flex w-auto h-auto align-items-center justify-content-center">
            {% for project in projects %}
                    <div class="card text-center text-thistle m-1 bg-grayblue" style="width: 18rem;">
                        <a href="{{ project.id }}" class="text-dark-blue" style="text-decoration: none;">
                            <img src="{% static project.image.url %}" class="card-img-top" alt="{{ project.title }}">
                            <h5 class="card-header">{{ project.title }}</h5>
                            <div class="card-body">
                                <p class="card-text">{{ project.short_description }}</p>
                            </div>
                        </a>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}