{% extends 'page/main.html' %}
{% block title %}Projects{% endblock %}
{% block body %}
    <div class="container ms-5">
        <h1 class="text-mauve my-3">My Previous Projects</h1>
        <div class="d-inline-flex w-auto h-auto align-items-center justify-content-center">
            {% for project in projects %}
                    <div class="card text-center text-mauve m-1" style="width: 18rem; background-color: #613885;">
                        <a href="/" class="text-warning" style="text-decoration: none">
                            <h5 class="card-header">{{ project.title }}</h5>
                            <div class="card-body">
                                <p class="card-text">{{ project.short_description }}</p>
                            </div>
                        </a>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}